<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="50%" class="text-center no-records animate">
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="rangeForm" [rangePicker]="picker" >
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="rangeForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="rangeForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

        <button mat-flat-button color="accent" (click)="getProductsSold()" >Search</button>
        <mat-grid-list cols="1">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
              <mat-card-header class="dashboard-card-header">
                <div class="col-md-6">
                  <mat-card-title>
                    <b>Products Sold</b>
                  </mat-card-title>
                  <mat-card-title>
                    {{productsSold.productsSoldTotal}}
                  </mat-card-title>
                </div>
                <div class="col-md-6">
                  <mat-card-title>
                    <b>Total</b>
                  </mat-card-title>
                  <mat-card-title class="product-total">
                    ${{productsSold.productsSoldProfit}}
                  </mat-card-title>

                </div>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">

                <mat-list>
                  <div>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <div class="row col-md-12">
                        <div class="col-md-9 product-title">
                          <b>Product Name</b>
                        </div>
                        <div class="col-md-2">
                          <b>Profit Share</b>
                        </div>
                        <div class="col-md-1">
                          <b>Count</b>
                        </div>
                      </div>
                    </mat-list-item>
                  </div>
                  <div *ngFor="let product of productsSold.items">
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <div class="row col-md-12">
                        <div class="col-md-9 product-title">
                          {{product.itemName}}
                        </div>
                        <div class="col-md-2 product-total">
                          ${{product.total}}
                        </div>
                        <div class="col-md-1">
                          {{product.count}}
                        </div>
                      </div>
                    </mat-list-item>
                  </div>
                </mat-list>

              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-flat-button color="accent" (click)="getProductsSold()" >Show All</button>
              </mat-card-actions> -->
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
