<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Sans+JP:wght@400;600&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body class="dashboard">
	<header>
		<div class="container">
			<div class="text-center">
				<a href="#"><img src="../../../../assets/images/logo.png"></a>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="tab-nav">
			<ul>
				<li [class.active] = "selectedTab === 'Analytics'" id="analytics" (click)="toggleTab('Analytics')">Analytics</li>
				<li [class.active] = "selectedTab === 'Payments'" id="payments" (click)="toggleTab('Payments')">Payments</li>
				<li [class.active] = "selectedTab === 'Users'" id="users" (click)="toggleTab('Users')">Users</li>
				<li [class.active] = "selectedTab === 'Settings'" id="settings" (click)="toggleTab('Settings')">Settings</li>
			</ul>
		</div>

		<!--analytics-->
		<div class="tab-content analytics" [class.hide] = "selectedTab !== 'Analytics'">
			<div class="d-flex">
				<div class="single-box w-30">
					Analytics
				</div>
				<div class="single-box w-70">
				</div>
			</div>
			<div class="d-flex mt1">
				<div class="single-box w-100">
				</div>
			</div>

			<div class="four-col mt1">
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
			</div>

			<div class="two-col mt1">
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
			</div>
		</div>



		<!--payments-->
		<div class="tab-content payments" [class.hide] = "selectedTab !== 'Payments'">
			<div class="d-flex">
				<div class="single-box w-30">
					Payments
				</div>
				<div class="single-box w-70">
				</div>
			</div>
			<div class="d-flex mt1">
				<div class="single-box w-100">
				</div>
			</div>

			<div class="four-col mt1">
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
			</div>

			<div class="two-col mt1">
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
			</div>
		</div>



		<!--mediakit-->
		<div class="tab-content users"  [class.hide] = "selectedTab !== 'Users'">
			<div class="d-flex">
				<div class="single-box w-30">
					Users
				</div>
				<div class="single-box w-70">
				</div>
			</div>
			<div class="d-flex mt1">
				<div class="single-box w-100">
				</div>
			</div>

			<div class="four-col mt1">
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
			</div>

			<div class="two-col mt1">
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
			</div>
		</div>



		<!--Settings-->
		<div class="tab-content settings"  [class.hide] = "selectedTab !== 'Settings'">
			<div class="d-flex">
				<div class="single-box w-30">
					Settings
				</div>
				<div class="single-box w-70">
				</div>
			</div>
			<div class="d-flex mt1">
				<div class="single-box w-100">
				</div>
			</div>

			<div class="four-col mt1">
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
			</div>

			<div class="two-col mt1">
				<div class="single-box">
				</div>
				<div class="single-box">
				</div>
			</div>
		</div>
	</div>
</body>
</html>
