.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.product-title{
  text-align: left;
}
.product-count{
  background: #e02886;
  border-radius: 40px;
  color:white;
}
.product-total{
  color: #7ac953;
}
table {
  width: 100%;
}
.mat-header-cell{
  text-align: center;
}
.payment-date{
  margin-bottom: 4px;
}
.demo-toggles {
  display: flex;
  flex-direction: column;
}

.demo-toggles * {
  margin-bottom: 16px;
}

.demo-options {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.demo-data * {
  margin: 16px 0;
}

.demo-paginator {
  width: 600px;
}
table {
  width: 100%;
}
th{
  text-align: center!important;
}
 .mat-form-field {
  display: block;
 }
.tab-nav ul{
  margin-bottom: 0px !important;
}
